<div
  class="modal fade tms-modal"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content tms-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Travel Preferences</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/packages?_method=PUT" method="post">
        <div class="modal-body p-4">
          <div class="tms-preferences-group mb-3">
            <div class="tms-preferences-title">Age group</div>
            <div class="row">
              <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="8-15"
                name="tags" <% if(tags.includes("8-15")){ %> checked <% } %> />
                <label class="form-check-label"> 8 - 15 Years </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="15-25"
                  name="tags"
                />
                <label class="form-check-label"> 15 - 25 Years </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="25-35"
                  name="tags"
                />
                <label class="form-check-label"> 25-35 years </label>
              </div>
            </div>
            </div>
          </div>

          <div class="tms-preferences-group mb-3">
            <div class="tms-preferences-title">Crowd density</div>
            <div class="row">
              <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="lessCrowd"
                  name="tags"
                />
                <label class="form-check-label"> Less Crowded </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="moderateCrowd"
                  name="tags"
                />
                <label class="form-check-label"> Moderate Crowded </label>
              </div>
            </div>
            <div class="col mb-1">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="highCrowd"
                  name="tags"
                />
                <label class="form-check-label"> Highly Crowded </label>
              </div>
            </div>
            </div>
          </div>

          <div class="tms-preferences-group mb-3">
            <div class="tms-preferences-title">Traveling with</div>
            <div class="row">
              <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="friends"
                  name="tags"
                />
                <label class="form-check-label"> Friends </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="family"
                  name="tags"
                />
                <label class="form-check-label"> Family </label>
              </div>
            </div>
            <div class="col mb-1">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="love"
                  name="tags"
                />
                <label class="form-check-label"> Love </label>
              </div>
            </div>
            <div class="col mb-1">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="solo"
                  name="tags"
                />
                <label class="form-check-label"> Solo </label>
              </div>
            </div>
            </div>
          </div>

          <div class="tms-preferences-group mb-4">
            <div class="tms-preferences-title">Weather preference</div>
            <div class="row">
              <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="hot"
                  name="tags"
                />
                <label class="form-check-label"> Hot </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="moderate"
                  name="tags"
                />
                <label class="form-check-label"> Moderate </label>
              </div>
            </div>
            <div class="col mb-1">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="cold"
                  name="tags"
                />
                <label class="form-check-label"> Cold </label>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn tms-btn-outline" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn tms-btn">Set Preferences</button>
        </div>
      </form>
    </div>
  </div>
</div>
