<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> <%-
  include("./partials/headersignout.ejs") %>
  <body>
    <div class="container bg-info">
      <div class="row">
        <div class="col-6">
          <img
            src="https://img.buzzfeed.com/buzzfeed-static/static/2015-04/22/13/campaign_images/webdr05/24-of-the-most-beautiful-quotes-about-nature-2-20983-1429722037-8_dblbig.jpg?resize=1200:*"
            alt=""
            class="w-100"
            height="500px"
          />
        </div>
        <div class="col-6 p-3 bg-info">
          <div class="card" style="width: 530px">
            <div class="card-body bg-light">
              <h5 class="card-title text-center">CONTACT US AT</h5>
              <div class="card-text bg-info p-3 rounded shadow-lg">
                <b> Telephone : </b>
                <p>+91 9000011111 <br />+91 9000011112</p>
              </div>
              <br />
              <div class="bg-info p-3 rounded shadow-lg">
                <b> Email us at : </b>
                <p>Admin1@Huss.com</p>
                <p>Admin2@Huss.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contact bg-dark p-3 rounded row">
        <div class="aboutus bg-info p-3 shadow-lg rounded">
          <h4 class="text-warning text-center">About us</h4>
          <p class="">
            Nurtured from the seed of a single great idea - to empower the
            traveller - HUSS is a pioneer in India’s online travel industry.
            Founded in the year 2021 by group of graduates, HUSS came to life to
            empower the Indian traveller with instant bookings and comprehensive
            choices. The company initiated its journey serving the US-India
            travel market offering a range of best-value products and services
            powered by technology and round-the-clock customer support. After
            consolidating its position in the market as a brand recognised for
            its position. Nurtured from the seed of a single great idea - to
            empower the traveller - HUSS is a pioneer in India’s online travel
            industry. Founded in the year 2021 by group of graduates, HUSS came
            to life to empower the Indian traveller with instant bookings and
            comprehensive choices. The company initiated its journey serving the
            US-India travel market offering a range of best-value products and
            services powered by technology and round-the-clock customer support.
            After consolidating its position in the market as a brand recognised
            for its position.
          </p>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
