<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> <%- include("./partials/header.ejs") %>
  <body
    style="
      background-image: url('https://cdn.wallpapersafari.com/47/46/RWFb2z.jpg');
      background-size: cover;
    "
  >
    <div class="container-sm">
      <div class="alert alert-success" role="alert">
        <h3 class="text-center">Payment Done Successfully</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="150"
          height="150"
          fill="currentColor"
          class="bi bi-check2-circle"
          viewBox="0 0 16 16"
          style="margin-left: 440px"
        >
          <path
            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
          />
          <path
            d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
          />
        </svg>
      </div>
      <div class="alert alert-info">
        <h2 class="text-center">You have Successfully booked your package.</h2>
        <form action="/" method="get">
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">
            Continue
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
